.img-fluid {
    /* justify-content: center; */
    display: flex;
    justify-content: space-evenly;
}
.cozy1 {
    height: 800px;
    width: 400px;
}
.creek1 {
    height: 800px;
    width: 400px;
    
}
.cozy2 {
    height: 800px;
    width: 400px;
}
.studio {
    height: 600px;
    width: 400px;
}
.img-fluid2 {
    display: flex;
    justify-content: space-evenly;
}