.img-fluid {
    /* justify-content: center; */
    display: flex;
    justify-content: space-evenly;
}
.cozy1 {
    height: 400px;
    width: 300px;;
}
.creek1 {
    height: 400px;
    width: 300px;;
    
}
.cozy2 {
    height: 400px;
    width: 300px;;
}
.studio {
    height: 300px;
    width: 300px;;
}
.img-fluid2 {
    display: flex;
    justify-content: space-evenly;
}